<h1>Deaf Aunty</h1>

<p>Say something to Aunty</p>
Form 1<br/><br/>
<form action="/cool_url" method="get">
  <input type="text" name="user_input">
  <input type="submit" value="Say It!">
</form>
Form 2<br/><br/>
<form action="/cool_url" method="post">
  <input type="text" name="post[description]">
  <input type="submit" value="Say It!">
</form>

<p>URL parameters:</p>
<%= params %>